In [28]:
import sqlite3

db_file = "test_data.db"
conn = sqlite3.connect(db_file)

c = conn.cursor()

"""
c.execute('''CREATE TABLE stocks
             (date text, trans text, symbol text, qty real, price real)''')

# Insert a row of data
c.execute("INSERT INTO stocks VALUES ('2006-01-05','BUY','RHAT',100,35.14)")

# Save (commit) the changes
conn.commit()

"""
query = ''' 
SELECT * FROM test_data.db.sqlite_master WHERE type = 'table'

'''

c.execute(query)
print c.fetchall()





conn.close()

OperationalError: near ".": syntax error

# Functions

In [10]:
# create new table
def create_table():
    pass

# check for all tables in db
def find_all_tables():
    pass

# update table
def update_table():
    pass

# import csv file
def import_csv():
    pass

# export csv file
def export_csv():
    pass

def correct_time_stype(time_string):
    key = ":"
    if time_string.find(key) == 1:
        return '0' + time_string
    else:
        return time_string

In [11]:
test_val = "0:12"
print correct_time_stype(test_val)

00:12

In [ ]:
# update datetime column
UPDATE raw_metering SET Reading_Date = replace(Reading_Date, '/', '-')

SELECT (substr(Reading_Date, 7, 4) || '-' || substr(Reading_Date, 4, 2) || '-' || substr(Reading_Date, 1, 2) as dd)
FROM raw_metering 

# update date formate
UPDATE 
raw_metering
SET Reading_Date = CASE
WHEN Instr(Reading_Date,'/') =2
THEN substr(Reading_Date, 6, 4) || '-' || substr(Reading_Date, 3, 2) || '-0' || substr(Reading_Date, 1, 1) || substr(Reading_Date, Instr(Reading_Date,' '), 6)
WHEN Instr(Reading_Date,'/') =3 
THEN (substr(Reading_Date, 7, 4) || '-' || substr(Reading_Date, 4, 2) || '-' || substr(Reading_Date, 1, 2)) || substr(Reading_Date, Instr(Reading_Date,' '), 6)
ELSE Reading_Date
END

# update time formate
UPDATE 
raw_metering
SET Reading_Date = CASE
WHEN Instr(Reading_Date, ':') = 13  
THEN substr(Reading_Date, 1, 11) || '0' || substr(Reading_Date, 12, 4)
ELSE Reading_Date
END

#
SELECT SUM(Value)
FROM raw_metering
WHERE NMI_Suffix = 'E1' and Quality_Method = 'A' and strftime('%w', Reading_Date) between '0' and '6'

#peak1_start
SELECT Peak1_Start FROM
retailer_timeband,
(SELECT (nmi_info.State) as state1 FROM nmi_info WHERE NMI = '4103693793') as sub_state,
(SELECT (nmi_info.Retailer) as retail FROM nmi_info WHERE NMI = '4103693793') as sub_retail
WHERE retailer_timeband.Retailer = retail AND retailer_timeband.State = state1